In [6]:
import pandas as pd
import itertools
import numpy as np
import openpyxl
# from scenario_generation import generate_fuel_prices

### SETS

In [7]:
fuel_price_csv = 'fuel_price2_27s.csv'
route_case = 'mongstad'
mappenavn = 'cluster11_new/'
startfil = ''
antall_ruter = 39
clusters = 11
scenarios = 27
# Velg antall av de ulike settene her
#set_sheets = {'Power systems': 11, 'Ages': 6, 'Routes': 3122, 'Time periods':6, 'Time periods 1': 2, 'Time periods 2':4, 'Fuel types': 10, 'Installations': 18, 'Scenarios': 100}

t_values = range(0, 6)  # time period from 1 to 6
t1_values = range(0, 2)
t2_values = range(2, 6)
tp2_values = range(2,7)
f_values = range(1, 7)  # Assuming you want values from 1 to 7 for 'f'
r_values = range(1, antall_ruter + 1)  # Assuming you want values from 1 to 3122 for 'r'
n_values = range(1, clusters + 1) # 18 installations
s_values = range(1, 9) # 11 systems
w_values = range(1, scenarios + 1) # 100 scenarios
a_values = range(0, 6)

for t in f_values:
    print(t)

1
2
3
4
5
6

In [8]:
# Skriver alle sets med verdier definert over til excel

sets_excel_output_path = '../run_model/SetData-sheets.xlsx'

set_sheets = {
    'Power systems': s_values,
    'Ages': a_values,
    'Routes': r_values,
    'Time periods': t_values,
    'Time periods 1': t1_values,
    'Time periods 2': t2_values,
    'TP2 scrap': tp2_values,
    'Fuel types': f_values,
    'Installations': n_values,
    'Scenarios': w_values
}

# Create data frames for each set and write to Excel
with pd.ExcelWriter(sets_excel_output_path, engine='openpyxl') as writer:
    for sheet, values in set_sheets.items():
        # Create a DataFrame for the current set
        df = pd.DataFrame(itertools.product(values), columns=[sheet])

        # Write the DataFrame to the Excel file with the current sheet name
        df.to_excel(writer, sheet_name=sheet, index=False)

#### Generere kombinasjoner av indekser til parameterne

In [9]:

combinations_f_r = itertools.product(f_values, r_values)
combinations_ems = itertools.product(s_values, r_values)
combinations_r_s = itertools.product(r_values, s_values)
combinations_t = itertools.product(t_values)
combinations_s_a = itertools.product(s_values, a_values)
combinations_f_r_w = itertools.product(f_values, r_values, w_values)
combinations_w = itertools.product(w_values)
combinations_r = itertools.product(r_values)

#### Inputdata

In [10]:
combinations_ems = itertools.product(s_values, r_values)
combinations_t = itertools.product(t_values)
# Hardkodet inn fuelpris per MJ per fueltype 1-6
fuel_prices = {1: 0.171, 2:0.163, 3:0.514, 4:0.328, 5:0.222, 6:0.297}




# fuel_dict = {
#     1: (0.178, 0.094, 'fossil'),      # MGO
#     2: (0.146, 0.073, 'fossil'),      # LNG
#     3: (0.491, 0.261, 'green_fuels'), # GREEN METHANOL
#     4: (0.324, 0.178, 'green_fuels'), # GREEN NH3
#     5: (0.278, 0.147, 'bio'),         # B30
#     6: (0.245, 0.130, 'bio'),         # B20
#     7: (0.228, 0.121, 'bio'),         # B15
#     8: (0.201, 0.106, 'bio'),         # B7
#     9: (0.301, 0.129, 'green_fuels')  # Helelektrisk
# }
 # Example fuel bounds with group information


# Karbonutslipp per MJ som er brukt for hvert system
emissions_carbon_tonn_per_MJ_wtw = {1: 0.000182, 2: 0.000153, 3: 0.000033, 4: 0.000033, 5: 0.000145, 6: 0.000122, 7: 0.000026, 8: 0.000026, 9: 0.000033, 10: 0.000033, 11: 0.000104, 12: 0.000053, 13:0.000058 }
emissions_carbon_tonn_per_MJ_lind = {1: 0.000182, 2: 0.000153, 3: 0.000002, 4: 0.000011, 5: 0.000145, 6: 0.000122, 7: 0.000002, 8: 0.000008, 9: 0.000002, 10: 0.000011, 11: 0.000102, 12: 0.000053, 13:0.000058 }
emissions_carbon_tonn_per_MJ = emissions_carbon_tonn_per_MJ_lind


# Regne ut reduksjonskrav for karbonutslipp
init_ems_tonn = 1000000 #91608 # 137000

reductions_10_kutt = {0: 1, 1: 0.98, 2: 0.96, 3: 0.94, 4: 0.92, 5: 0.90} 
reductions_20_kutt = {0: 1, 1: 0.96, 2: 0.92, 3: 0.88, 4: 0.84, 5: 0.80} 
reductions_30_kutt = {0: 1, 1: 0.94, 2: 0.88, 3: 0.82, 4: 0.76, 5: 0.70} 
reductions_40_kutt = {0: 1, 1: 0.92, 2: 0.84, 3: 0.76, 4: 0.68, 5: 0.60} 
reductions_50_kutt = {0: 1, 1: 0.90, 2: 0.80, 3: 0.70, 4: 0.60, 5: 0.50} 
reductions_60_kutt = {0: 1, 1: 0.88, 2: 0.76, 3: 0.64, 4: 0.52, 5: 0.40} 
reductions_70_kutt = {0: 1, 1: 0.86, 2: 0.72, 3: 0.58, 4: 0.44, 5: 0.30} 
reductions_80_kutt = {0: 1, 1: 0.84, 2: 0.68, 3: 0.52, 4: 0.36, 5: 0.20} 
reductions_0_kutt = {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1}

reductions_imo_kutt = {0: 1, 1: 0.80, 2: 0.80, 3: 0.30, 4: 0.30, 5: 0.20}
reductions_lindstad_kutt = {0: 1, 1: 0.80, 2: 0.80, 3: 0.30, 4: 0.30, 5: 0.05}
# Velg hvilket scenario som skal kjøres
reduction_requirements = reductions_0_kutt

capacity_systems = {1: 100, 2: 100, 3: 100, 4: 90, 5: 90, 6: 90, 7: 90, 8: 90}

# # Leser inn nødvendig MJ på å kjøre hver rute
mj_route = pd.read_csv(f'../route_generation_{route_case}/{mappenavn}{startfil}mj_route.csv')

# # Leser inn tid på å kjøre hver rute
hours_route = pd.read_csv(f'../route_generation_{route_case}/{mappenavn}{startfil}hours_route.csv')

lossing_route = pd.read_csv(f'../route_generation_{route_case}/{mappenavn}{startfil}duration_lossing.csv')
sailing_route = pd.read_csv(f'../route_generation_{route_case}/{mappenavn}{startfil}duration_sailing.csv')
#idle_time = 8
#demand_el = pd.read_csv('../route_generation/generated_datafiles_reduced/demand_strøm.csv')
demand = pd.read_csv(f'../route_generation_{route_case}/{mappenavn}{startfil}demand.csv')

routes_file = f"../route_generation_{route_case}/{mappenavn}{startfil}routes.csv"
excel_file = '../run_model/Parameterdata.xlsx'
platform_demand = f"../route_generation_{route_case}/{mappenavn}output_platforms_demand.csv"
csv_platform_visits = f'../route_generation_{route_case}/{mappenavn}output_platforms_visits.csv'

# Skriver verdiene tilbake i excelfilen for alle parametrene
output_excel_path = '../run_model/Parameterdata.xlsx'

# Create a DataFrame from the combinations
df_max_ems = pd.DataFrame(combinations_t, columns=['T'])

# Regner ut max emissions gitt uslippsreduksjonsscenario. Endre scenario-funksjon etter hvilket scenario vi vil kjøre med
def calculate_max_emissions(row):
    return (reduction_requirements[row['T']]) * init_ems_tonn

# Legger til verdiene i Value-kolonne i dataframen
df_max_ems['Value'] = df_max_ems.apply(calculate_max_emissions, axis=1)

# Skriver dataframen med emissions til parameter_data excel filen
with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_max_ems.to_excel(writer, sheet_name='Max Emissions', index=False)

df_max_ems

   T    Value
0  0  1000000
1  1  1000000
2  2  1000000
3  3  1000000
4  4  1000000
5  5  1000000

#### Lese inn data fra rutegenereringsprogrammet

### Max emissions

##### Generere P_w

In [11]:
df_probability = pd.DataFrame(combinations_w, columns=['O'])

df_probability['Value'] = 1/len(list(w_values))

df_probability.head()

   O     Value
0  1  0.037037
1  2  0.037037
2  3  0.037037
3  4  0.037037
4  5  0.037037

In [12]:

with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_probability.to_excel(writer, sheet_name='Probability', index=False)

In [13]:
distance_dict = {}

for idx, value in enumerate(mj_route,1):
    distance_dict[idx] = value

print(distance_dict)

{1: 'mj_route'}

##### Distance dict for compatibility og cost of fuel

In [14]:
# Lager dictionaries for MJ_route for å senere kunne multiplisere sammen disse verdiene for å få kostnad per rute per fueltype
distance_dict = mj_route['mj_route'].to_dict()
print(distance_dict)
# lager egne distanser for elektrisk

# specific_distance_dict = mj_route_el['mj_route'].to_dict()
#specific_distance_dict= specific_distance_dict['mj_route']
# electric_distance_dict = {key + 1: value for key, value in specific_distance_dict.items()}

#print(distance_dict)
distance_dict = {key + 1: value for key, value in enumerate(distance_dict.values())}
print(len(distance_dict))
print(distance_dict)

{0: 115717.2, 1: 99089.6, 2: 163154.8, 3: 144750.4, 4: 150066.0, 5: 164527.6, 6: 134265.2, 7: 110290.4, 8: 141918.4, 9: 115109.6, 10: 203582.4, 11: 194053.2, 12: 137373.6, 13: 126684.8, 14: 149149.2, 15: 198490.8, 16: 158307.2, 17: 195992.8, 18: 135756.8, 19: 140954.8, 20: 207106.0, 21: 157551.6, 22: 194720.8, 23: 209602.4, 24: 195461.2, 25: 200632.8, 26: 125915.2, 27: 159215.2, 28: 131124.8, 29: 209090.4, 30: 214005.2, 31: 201898.4, 32: 186114.4, 33: 191687.6, 34: 206858.0, 35: 148819.6, 36: 212471.2, 37: 207797.2, 38: 143097.2}
39
{1: 115717.2, 2: 99089.6, 3: 163154.8, 4: 144750.4, 5: 150066.0, 6: 164527.6, 7: 134265.2, 8: 110290.4, 9: 141918.4, 10: 115109.6, 11: 203582.4, 12: 194053.2, 13: 137373.6, 14: 126684.8, 15: 149149.2, 16: 198490.8, 17: 158307.2, 18: 195992.8, 19: 135756.8, 20: 140954.8, 21: 207106.0, 22: 157551.6, 23: 194720.8, 24: 209602.4, 25: 195461.2, 26: 200632.8, 27: 125915.2, 28: 159215.2, 29: 131124.8, 30: 209090.4, 31: 214005.2, 32: 201898.4, 33: 186114.4, 34: 191687.6, 35: 206858.0, 36: 148819.6, 37: 212471.2, 38: 207797.2, 39: 143097.2}

##### Compatibility RS

In [15]:
# Lager dictionaries for MJ_route for å senere kunne multiplisere sammen disse verdiene for å få kostnad per rute per fueltype
demand_dict = demand['Demand'].to_dict()
#demand_dict = demand_dict['Demand']

# lager egne distanser for elektrisk

#specific_demand_dict = demand_el['Demand'].to_dict()
#specific_demand_dict= specific_demand_dict['Demand']

#electric_demand_dict = {key + 1: value for key, value in specific_demand_dict.items()}

demand_dict = {key + 1: value for key, value in demand_dict.items()}

In [16]:
# Lage combinations for rs
# For hver rad med r s, sjekke om kapasiteten i s er større enn eller lik demanden til r. Sett til 1 hvis true, 0 ellers

# Create a DataFrame from the combinations
df_routecap = pd.DataFrame(combinations_r_s, columns=['R', 'S'])

# Display the first few rows of the DataFrame
print(df_routecap.head())

df_routecap['Value'] = 0

# Iterate over the DataFrame
for index, row in df_routecap.iterrows():
    r = row['R']
    s = row['S']
    if demand_dict.get(r, 0) <= capacity_systems.get(s, float('inf')):
        df_routecap.at[index, 'Value'] = 1
    # if s == 11 and electric_demand_dict.get(r, 0) <= capacity_systems.get(s, float('inf')):
    #     df_routecap.at[index, 'Value'] = 1

#print(df_routecap)

   R  S
0  1  1
1  1  2
2  1  3
3  1  4
4  1  5

In [17]:
with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_routecap.to_excel(writer, sheet_name='Compatibility rs', index=False)


### Compatibility fs oppdateres manuelt!

#### Demand for set covering

In [18]:
df_demand = pd.DataFrame(list(demand_dict.items()), columns=['R', 'Value'])

print(df_demand)

     R      Value
0    1  30.000000
1    2  40.000000
2    3  29.000000
3    4  32.000000
4    5  56.500000
5    6  44.000000
6    7  25.000000
7    8  21.200000
8    9  37.750000
9   10  58.000000
10  11  55.000000
11  12  70.333333
12  13  39.333333
13  14  52.400000
14  15  60.250000
15  16  47.750000
16  17  57.000000
17  18  69.000000
18  19  46.666667
19  20  36.200000
20  21  56.500000
21  22  61.250000
22  23  67.500000
23  24  73.000000
24  25  47.333333
25  26  69.000000
26  27  26.800000
27  28  44.750000
28  29  59.600000
29  30  64.333333
30  31  79.000000
31  32  77.333333
32  33  67.250000
33  34  80.000000
34  35  72.333333
35  36  41.800000
36  37  63.500000
37  38  73.250000
38  39  62.400000

In [19]:
with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_demand.to_excel(writer, sheet_name='Demand route', index=False)

##### Cost of fuel per route

In [20]:

# Lager dictionaries for MJ_route for å senere kunne multiplisere sammen disse verdiene for å få kostnad per rute per fueltype
distance_dict = mj_route['mj_route'].to_dict()
#distance_dict = distance_dict['mj_route']

# lager egne distanser for elektrisk

# specific_distance_dict = mj_route_el['mj_route'].to_dict()
# #specific_distance_dict= specific_distance_dict['mj_route']
# electric_distance_dict = {key + 1: value for key, value in specific_distance_dict.items()}

#print(distance_dict)
distance_dict = {key + 1: value for key, value in distance_dict.items()}
print(len(distance_dict))

print(distance_dict)
#print(len(electric_distance_dict))

39
{1: 115717.2, 2: 99089.6, 3: 163154.8, 4: 144750.4, 5: 150066.0, 6: 164527.6, 7: 134265.2, 8: 110290.4, 9: 141918.4, 10: 115109.6, 11: 203582.4, 12: 194053.2, 13: 137373.6, 14: 126684.8, 15: 149149.2, 16: 198490.8, 17: 158307.2, 18: 195992.8, 19: 135756.8, 20: 140954.8, 21: 207106.0, 22: 157551.6, 23: 194720.8, 24: 209602.4, 25: 195461.2, 26: 200632.8, 27: 125915.2, 28: 159215.2, 29: 131124.8, 30: 209090.4, 31: 214005.2, 32: 201898.4, 33: 186114.4, 34: 191687.6, 35: 206858.0, 36: 148819.6, 37: 212471.2, 38: 207797.2, 39: 143097.2}

In [21]:
# Convert dictionaries to DataFrames
df_distance = pd.DataFrame(distance_dict.items(), columns=['R', 'Value'])

# Sort DataFrames by 'R' values
df_distance = df_distance.sort_values(by='R')

with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_distance.to_excel(writer, sheet_name='Distance', index=False)

Generere alle kombinasjoner av R og F

In [22]:
# Create a DataFrame from the combinations
df_fuelprice = pd.DataFrame(combinations_f_r, columns=['F', 'R'])

# Display the first few rows of the DataFrame
print(df_fuelprice.head())

   F  R
0  1  1
1  1  2
2  1  3
3  1  4
4  1  5

#### Fuelcost

In [23]:


def calculate_value(row):
    distance = distance_dict[row['R']]
    return fuel_prices[row['F']] * distance

# Legger til verdiene i Value-kolonne i dataframen
df_fuelprice['Value'] = df_fuelprice.apply(calculate_value, axis=1)

# df_fuelprice

##### Fuelcost 2

In [24]:
fuel_price2_df = pd.read_csv(fuel_price_csv)

fuel_price2_df.head()

   F  T  S   Value
0  1  2  1  0.1730
1  1  3  1  0.1746
2  1  4  1  0.1761
3  1  5  1  0.1777
4  2  2  1  0.1586

##### Skriver Cost of fuel til excel

In [25]:
# Using ExcelWriter to write to the existing Excel file
with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    fuel_price2_df.to_excel(writer, sheet_name='Cost of fuel 2', index=False)

# Using ExcelWriter to write to the existing Excel file
with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_fuelprice.to_excel(writer, sheet_name='Cost of fuel 1', index=False)

##### EMISSIONS FOR FUEL TYPE

Generere alle kombinasjoner av F og R i kolonnene

In [26]:
# Create a DataFrame from the combinations
df_ems = pd.DataFrame(combinations_ems, columns=['S', 'R'])

# Display the first few rows of the DataFrame
print(df_ems.head())

   S  R
0  1  1
1  1  2
2  1  3
3  1  4
4  1  5

In [27]:

def calculate_emissions(row):
    distance =  distance_dict[row['R']]
    return emissions_carbon_tonn_per_MJ[row['S']] * distance



# Apply the function to create a new column 'Value'
df_ems['Value'] = df_ems.apply(calculate_emissions, axis=1)


# Skriver dataframen med emissions til parameter_data excel filen
with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_ems.to_excel(writer, sheet_name='Emissions', index=False)

##### MAX EMISSIONS PER TIME PERIOD

##### TIME USED

In [28]:
# Create T_rs
combinations_r_s = itertools.product(r_values, s_values)
df_timeused = pd.DataFrame(combinations_r_s, columns=['R', 'S'])

# Lager dictionaries for MJ_route for å senere kunne multiplisere sammen disse verdiene for å få kostnad per rute per fueltype
route_dict = hours_route['Hours'].to_dict()
sailing_dict = sailing_route['Duration (hours)'].to_dict()
lossing_dict = lossing_route['Duration (hours)'].to_dict()
hours_route_dict = {key + 1: value for key, value in route_dict.items()}

sailing_dict = {key + 1: value for key, value in sailing_dict.items()}
lossing_dict = {key + 1: value for key, value in lossing_dict.items()}
print(sailing_dict)


def calculate_timeused(row):
    value =  sailing_dict[row['R']] + lossing_dict[row['R']]
    return value

df_timeused['Value'] = df_timeused.apply(calculate_timeused, axis=1)

print(df_timeused)
# Skriver dataframe med emissions til parameter_data excel filen
with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_timeused.to_excel(writer, sheet_name='Time used', index=False)



# VANLIG TIME USED

# def calculate_timeused(row):
#     value =  hours_route_dict[row['R']]
#     return value


# df_timeused['Value'] = df_timeused.apply(calculate_timeused, axis=1)

# print(df_timeused.head())
# # Skriver dataframe med emissions til parameter_data excel filen
# with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
#     df_timeused.to_excel(writer, sheet_name='Time used', index=False)

{1: 10.86, 2: 8.58, 3: 16.81, 4: 14.45, 5: 14.62, 6: 16.68, 7: 13.28, 8: 10.36, 9: 13.98, 10: 10.22, 11: 18.34, 12: 16.84, 13: 13.38, 14: 11.78, 15: 14.43, 16: 17.85, 17: 15.64, 18: 17.11, 19: 13.03, 20: 13.89, 21: 18.75, 22: 15.46, 23: 16.98, 24: 18.73, 25: 17.48, 26: 17.69, 27: 12.2, 28: 16.0, 29: 12.19, 30: 18.84, 31: 19.16, 32: 17.68, 33: 15.91, 34: 16.35, 35: 18.4, 36: 14.76, 37: 19.28, 38: 18.5, 39: 13.63}
      R  S  Value
0     1  1  15.03
1     1  2  15.03
2     1  3  15.03
3     1  4  15.03
4     1  5  15.03
..   .. ..    ...
307  39  4  22.30
308  39  5  22.30
309  39  6  22.30
310  39  7  22.30
311  39  8  22.30

[312 rows x 3 columns]

#### Installations in route

In [29]:
import csv


# Open the existing Excel workbook
workbook = openpyxl.load_workbook(output_excel_path)
sheet = workbook["Installations in route"]

# Open the CSV file in text mode and read all lines
with open(routes_file, 'r') as file:
    lines = file.readlines()

# Clear existing data in the sheet except for the header row
for row in sheet.iter_rows(min_row=2, max_row=sheet.max_row, min_col=1, max_col=3):
    for cell in row:
        cell.value = None

# Add column headers if necessary
if not sheet['A1'].value:
    sheet['A1'] = "i"
    sheet['B1'] = "r"
    sheet['C1'] = "Value"

# Initialize the row index for Excel
row_index = 2

# Initialize an empty dictionary to store the platform mapping
platform_mapping = {}

# Open the CSV file and read the contents
with open(platform_demand, newline='') as file:
    reader = csv.reader(file, delimiter=';')
    next(reader)  # Skip the header row
    for row in reader:
        platform = row[0]  # Platform name is in the first column
        # Assign a number to each platform
        platform_mapping[platform] = len(platform_mapping) + 1

print(platform_mapping)

{'APTOSS': 1, 'ASL': 2, 'DAB': 3, 'DSASTASTBSTC': 4, 'DSS': 5, 'GFAGFBGFC': 6, 'KVBNLNVAL': 7, 'MID': 8, 'OSCOSE': 9, 'OSOVFB': 10, 'TENTEQTRBTRCTRO': 11}

In [30]:

platform_mapping_reverse = {v: k for k, v in platform_mapping.items()}

length = len(platform_mapping) +1

# Process each line in the CSV file
for idx, line in enumerate(lines, start=1):
    for i in range(1, length):
        sheet.cell(row=row_index, column=2, value=idx)
        sheet.cell(row=row_index, column=1, value=i)
        platform_name = platform_mapping_reverse.get(i, "")  # Get the platform name
        if platform_name in line:
            sheet.cell(row=row_index, column=3, value=1)
        else:
            sheet.cell(row=row_index, column=3, value=0)
        row_index += 1

workbook.save(excel_file)
print("Data has been successfully written.")

Data has been successfully written.

In [31]:

visits_per_week = {}
with open(csv_platform_visits, newline='') as file:
    reader = csv.reader(file, delimiter=';')
    next(reader)  # Skip the header row
    i = 1
    for row in reader:
        platform = row[0]  # Platform name is in the first column
        # Assign a number to each platform
        # Assign a number to each platform
        visits_per_week[i] = row[1]
        i += 1

i_values = range(1, len(platform_mapping)+1)
print(visits_per_week)

combinations_i_t = itertools.product(i_values, t_values)
df_demand = pd.DataFrame(combinations_i_t, columns=['I', 'T'])
# Iterate over rows in the DataFrame
df_demand['Value'] = df_demand['I'].map(lambda x: visits_per_week[x])



df_demand

{1: '3', 2: '3', 3: '4', 4: '4', 5: '3', 6: '4', 7: '3', 8: '2', 9: '5', 10: '4', 11: '4'}

     I  T Value
0    1  0     3
1    1  1     3
2    1  2     3
3    1  3     3
4    1  4     3
..  .. ..   ...
61  11  1     4
62  11  2     4
63  11  3     4
64  11  4     4
65  11  5     4

[66 rows x 3 columns]

In [32]:
with pd.ExcelWriter(output_excel_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_demand.to_excel(writer, sheet_name='Demand', index=False)